In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
arr = np.array([3,2,5,6,7])
arr

array([3, 2, 5, 6, 7])

In [3]:
s= pd.Series(arr)
s
s.shape

(5,)

In [4]:
S={"hI":12,"hellow":13,"Buy":14}
S

{'hI': 12, 'hellow': 13, 'Buy': 14}

Series Using and print is number formate

In [5]:
P = pd.Series(S)
P[0:3]

hI        12
hellow    13
Buy       14
dtype: int64

When in array to be a define all data to be a change same data type

In [6]:
arr1 = np.array([3,2,"5",6,7])
arr1

array(['3', '2', '5', '6', '7'], dtype='<U11')

In [7]:
arr1 = np.array([3,2,5.1,6,7])
arr1

array([3. , 2. , 5.1, 6. , 7. ])

In [8]:
df = pd.DataFrame(arr)

df.shape

(5, 1)

In [9]:
dic = {"name":["Abhi","Sun","Sitare"],"age":[23,54,67],"gmail":["a@123","b@124","c@456"]}
df = pd.DataFrame(dic)

df

     name  age  gmail
0    Abhi   23  a@123
1     Sun   54  b@124
2  Sitare   67  c@456

In [10]:
dic["name"]

['Abhi', 'Sun', 'Sitare']

In [11]:
dic={"name":["abhishek","shamu","shri"],"age":[12,23,34],"email":["abc@gmail.com","qwqe","sd"]}
fd=pd.DataFrme(dic)
fd

AttributeError: module 'pandas' has no attribute 'DataFrme'